{% if not public %}<a href="{% url 'CIResults-issuefilterassoc' ifa.id 'history' %}" title="{{ifa.activity_period}}">{{ifa.filter}}</a>{% else %}<span title="{{ifa.activity_period}}">{{ifa.filter}}</span>{% endif %}
