{% if not public %}<a href="{% url 'CIResults-testresult' testresult.id 'history' %}">{{testresult.status}}</a>{% else %}{{testresult.status}}{% endif %}{% if testresult.url is not None %} (<a href="{{testresult.url}}">external URL</a>){% endif %}
