<!doctype html>
{% load static %}
{% if not public %}
	{% url 'CIResults-index' as home_url %}
	{% url 'CIResults-issue' 'create' as file_issue_url %}
	{% url 'CIResults-issues-list' as issues_list_url %}
	{% url 'CIResults-machines' as machines_list_url %}
	{% url 'CIResults-tests' as tests_list_url %}
	{% url 'CIResults-tests-massrename' as tests_massrename_url %}
	{% url 'CIResults-results' as result_all %}
	{% url 'CIResults-knownfailures' as result_knownfailures %}
	{% url 'CIResults-metrics-overview' as metrics_overview_url %}
	{% url 'CIResults-metrics-bugs' as metrics_bugs_url %}
	{% url 'CIResults-metrics-open-bugs' as metrics_open_bugs_url %}
	{% url 'CIResults-metrics-passrate' as metrics_passrate_url %}
	{% url 'CIResults-metrics-runtime' as metrics_runtime_url %}
{% else %}
	{% url 'CIResults-index-public' as home_url %}
	{% url 'CIResults-issues-list-public' as issues_list_url %}
	{% url 'CIResults-machines-public' as machines_list_url %}
	{% url 'CIResults-tests-public' as tests_list_url %}
	{% url 'CIResults-metrics-overview-public' as metrics_overview_url %}
	{% url 'CIResults-metrics-bugs-public' as metrics_bugs_url %}
	{% url 'CIResults-metrics-open-bugs-public' as metrics_open_bugs_url %}
	{% url 'CIResults-metrics-passrate-public' as metrics_passrate_url %}
	{% url 'CIResults-metrics-runtime-public' as metrics_runtime_url %}
{% endif %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - CI Bug Log</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/ciresults.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-duallistbox.min.css' %}">

        <!-- load jquery early, as we often need it during loading time -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body class="navbar_fixed">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{home_url}}">CI Bug Log</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == home_url %}class="active"{% endif %}>
                            <a class="nav-link" href="{{home_url}}">Home</a>
                        </li>
                        <li class="dropdown {% if "/issue/" in request.path %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Issues<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if not public %}
                                <li {% if request.path == file_issue_url %}class="active"{% endif %}>
                                    <a class="nav-link" href="{{file_issue_url}}">File issue</a>
                                </li>
                                <li class="divider"></li>{% endif %}
                                <li><a href="{{issues_list_url}}?query=archived_on+=+NONE">Active Issues</a></li>
                                <li><a href="{{issues_list_url}}?query=expected+%3D+TRUE+AND+archived_on+=+NONE">Expected Issues</a></li>
                                <li class="divider"></li>
                                <li><a href="{{issues_list_url}}?query=NOT+archived_on+=+NONE">Archived Issues</a></li>
                            </ul>
                        </li>
                        <li {% if request.path == machines_list_url %}class="active"{% endif %}>
                            <a href="{{machines_list_url}}">Machines</a>
                        </li>
                        {% if not public %}<li class="dropdown {% if request.path == tests_list_url or request.path == tests_massrename_url %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tests<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{tests_list_url}}">Tests list</a></li>
                                <li><a href="{{tests_massrename_url}}">Mass rename</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li {% if request.path == tests_list_url %}class="active"{% endif %}>
                            <a href="{{tests_list_url}}">Tests</a>
                        </li>
                        {% endif %}

                        {% if not public %}<li class="dropdown {% if request.path == result_all or request.path == result_knownfailures %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{result_all}}">All results</a></li>
                                <li><a href="{{result_knownfailures}}">Known failures</a></li>
                            </ul>
                        </li>
                        {% endif %}

                        <li {% if request.path == metrics_open_bugs_url %}class="active"{% endif %}>

                        </li>
                        <li class="dropdown {% if "/metrics/" in request.path %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Metrics<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="{{metrics_overview_url}}">Overview</a></li>
                                <li class="divider"></li>
                                <li><a class="nav-link" href="{{metrics_bugs_url}}">Bug trend</a></li>
                                <li><a class="nav-link" href="{{metrics_open_bugs_url}}">Open Bugs</a></li>
                                <li class="divider"></li>
                                <li><a class="nav-link" href="{{metrics_passrate_url}}">Pass rates</a></li>
                                <li><a class="nav-link" href="{{metrics_runtime_url}}">Run time</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Keep the csrf token available to every page -->
        {% csrf_token %}

        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        {% endblock %}

        </div>

        <footer class="small text-muted text-center">
            Generated on the {% now "jS F Y H:i:s" %} (UTC). <a href="mailto: Martin Peres <martin.peres@intel.com>">Contact</a>.
        </footer>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="{% static 'js/sorttable.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap-duallistbox.js' %}"></script>
        <script src="{% static 'js/eModal.js' %}"></script>
        <script src="{% static 'js/helpers.js' %}"></script>


    </body>
</html>
