{% extends 'CIResults/base.html' %}

{% block title %}History{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#main_info-body" class="text-info">
                    Information about '{{object}}'
                </a>
            </div>
            <div id="main_info-body" class="panel-body panel-collapse collapse in">
                <ul class="contain-fluid">
                    <table class="table table-striped table-hover table-bordered table-sm sortable">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, value in info %}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{value|linebreaks}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>

        {% if failures|length > 0 %}

        {% if failures.number == 1 %}
        <div class="panel panel-default panel-info" >
            <div class="panel-heading">{% if chart_all_failures %}Metrics for '{{object}}'{% else %}Metrics for the past 30 days{% endif %}</div>
            <div class="panel-body container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <canvas id="statuses_chart" data-chart-type="pie_chart" data-chart-data="{{statuses_chart|escape}}" data-chart-title="Statuses" data-fullscreen-target="fullscreenModal"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="machines_chart" data-chart-type="pie_chart" data-chart-data="{{machines_chart|escape}}" data-chart-title="Machines" data-fullscreen-target="fullscreenModal"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="tests_chart" data-chart-type="pie_chart" data-chart-data="{{tests_chart|escape}}" data-chart-title="Tests" data-fullscreen-target="fullscreenModal"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="issues_chart" data-chart-type="pie_chart" data-chart-data="{{issues_chart|escape}}" data-chart-title="Issues" data-fullscreen-target="fullscreenModal"></canvas>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     </div>
                     <div class="modal-body">
                     </div>
                 </div>
             </div>
        </div>
        {% endif %}

        <div class="panel panel-default panel-info" >
            <div class="panel-heading">Failures tracked under '{{object}}'</div>
            <div id="unknown_failures-body" class="panel-body">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Machine</th>
                            <th>Status</th>
                            <th>Run Config (age)</th>
                            <th># of covered runs since the failure</th>
                            <th>Matched filter</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for failure in failures %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=failure.result.test %}</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=failure.result.ts_run.machine %}</td>
                            <td>{% include "CIResults/basic/testresult.html" with testresult=failure.result %}</td>
                            <td data-sorttable-customkey="{{failure.result.ts_run.runconfig.added_on|date:'U'}}">{% include "CIResults/basic/runconfig_lite.html" with runconfig=failure.result.ts_run.runconfig %}</td>
                            <td>{{failure.covered_runconfigs_since_for_issue}} for the issue, {{failure.covered_runconfigs_since_for_filter}} for the filter</td>
                            <td>{% include "CIResults/basic/filter.html" with filter=failure.matched_ifa.filter %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "CIResults/basic/paginator.html" with page_obj=failures %}
            </div>
        </div>
        {% elif result_hist|length > 0 %}
        <div class="panel panel-default panel-info" >
            <div class="panel-heading">History of results for '{{object}}' ({{result_hist|length}})</div>
            <div id="unknown_failures-body" class="panel-body">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Machine</th>
                            <th>Status</th>
                            <th>Run Config (age)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in result_hist %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=result.test %}</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=result.ts_run.machine %}</td>
                            <td>{% include "CIResults/basic/testresult.html" with testresult=result %}</td>
                            <td>{% include "CIResults/basic/runconfig.html" with runconfig=result.ts_run.runconfig %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "CIResults/basic/paginator.html" with page_obj=result_hist %}
            </div>
        </div>
        {% endif %}

    </div>
{% include "CIResults/basic/metrics_deps.html" %}

{% endblock %}
