{% extends 'CIResults/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% load humanize %}
    <div class="main_body container-fluid">
        {% include "CIResults/basic/issues_table.html" with issues_table_title="Active Issues" %}

    {% if unknown_failures|length > 0 %}
        <div class="panel panel-default panel-danger" >
            <div class="panel-heading">
                <a data-toggle="collapse" href="#unknown_failures-body" class="text-danger">
                    Unknown Failures ({{unknown_failures|length}})
                </a>
            </div>
            <div id="unknown_failures-body" class="panel-body panel-collapse collapse">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Machine</th>
                            <th>Status</th>
                            <th>Run Config (age)</th>
                            <th>Potential issues matched</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for failure in unknown_failures %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=failure.result.test %}</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=failure.result.ts_run.machine %}</td>
                            <td>{% include "CIResults/basic/testresult.html" with testresult=failure.result %}</td>
                            <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=failure.result.ts_run.runconfig %}</td>
                            <td>{% for issue in failure.matched_issues %}{% include "CIResults/basic/issue.html" %} {% endfor %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if suppressed_tests|length > 0 %}
        <div class="panel panel-default panel-warning">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#suppressed_tests-body" class="text-warning">
                    Suppressed tests ({{suppressed_tests|length}})
                </a>
            </div>
            <div id="suppressed_tests-body" class="panel-body panel-collapse collapse">
                <form action="{% url 'CIResults-test' 'vet' %}" method="post">{% csrf_token %}
                    {% if not public %}<div class="form-inline">
                        <a href="#" data-select-all="suppressed_tests_lst">Select all</a>, <a href="#" data-unselect-all="suppressed_tests_lst">Unselect all</a>
                        <div class="pull-right">
                            <button data-submit-confirm="Are you sure you want to vet {checked} tests?" class="btn btn-primary">Vet</a>
                        </div>
                    </div>{% endif %}
                    <table class="table table-striped table-hover table-bordered table-sm sortable">
                        <thead>
                            <tr>
                                <th>Test</th>
                                <th>First Seen on</th>
                                <th>Added on</th>
                            </tr>
                        </thead>
                        <tbody id="suppressed_tests_lst">
                            {% for test in suppressed_tests %}
                            <tr>
                                <td {% if not public %}data-select-name="{{test.id}}"{% endif %}>{% include "CIResults/basic/test.html" with test=test %}</td>
                                <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=test.first_runconfig %}</td>
                                <td data-sorttable-customkey="{{test.added_on|date:'U'}}">{{test.added_on}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    {% endif %}

    {% if suppressed_machines|length > 0 %}
        <div class="panel panel-default panel-warning">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#suppressed_machines-body" class="text-warning">
                    Suppressed machines ({{suppressed_machines|length}})
                </a>
            </div>
            <div id="suppressed_machines-body" class="panel-body panel-collapse collapse">
                <form action="{% url 'CIResults-machine' 'vet' %}" method="post">{% csrf_token %}
                    {% if not public %}<div class="form-inline">
                        <a href="#" data-select-all="suppressed_machine_lst">Select all</a>, <a href="#" data-unselect-all="suppressed_machine_lst">Unselect all</a>
                        <div class="pull-right">
                            <button data-submit-confirm="Are you sure you want to vet {checked} machines?" class="btn btn-primary">Vet</a>
                        </div>
                    </div>{% endif %}
                    <table class="table table-striped table-hover table-bordered table-sm sortable" id="suppressed_machine_lst">
                        <thead>
                            <tr>
                                <th>Machine</th>
                                <th>Added on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in suppressed_machines %}
                            <tr>
                                <td {% if not public %}data-select-name="{{machine.id}}"{% endif %}>{% include "CIResults/basic/machine.html" with machine=machine %}</td>
                                <td data-sorttable-customkey="{{machine.added_on|date:'U'}}">{{machine.added_on}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    {% endif %}

    {% if suppressed_statuses|length > 0 %}
        <div class="panel panel-default panel-warning">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#suppressed_statuses-body" class="text-warning">
                    Suppressed statuses ({{suppressed_statuses|length}})
                </a>
            </div>
            <div id="suppressed_statuses-body" class="panel-body panel-collapse collapse">
                <form action="{% url 'CIResults-textstatus' 'vet' %}" method="post">{% csrf_token %}
                    {% if not public %}<div class="form-inline">
                        <a href="#" data-select-all="suppressed_statuses_lst">Select all</a>, <a href="#" data-unselect-all="suppressed_statuses_lst">Unselect all</a>
                        <div class="pull-right">
                            <button data-submit-confirm="Are you sure you want to vet {checked} statuses?" class="btn btn-primary">Vet</a>
                        </div>
                    </div>{% endif %}
                    <table class="table table-striped table-hover table-bordered table-sm sortable" id="suppressed_statuses_lst">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Added on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status in suppressed_statuses %}
                            <tr>
                                <td {% if not public %}data-select-name="{{status.id}}"{% endif %}>{% include "CIResults/basic/textstatus.html" with status=status %}</td>
                                <td data-sorttable-customkey="{{status.added_on|date:'U'}}">{{status.added_on}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
