{% extends 'CIResults/base.html' %}

{% block title %}Known failures list{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=query.model %}

        {% if failures|length > 0 %}
        {% include "CIResults/basic/results_chart.html" with panel_title="Chart of the listed failures (current page)" %}
        {% endif %}

        <div class="panel panel-default panel-info" >
            <div class="panel-heading">Known failures list ({% if page_obj is not None %}{{ page_obj.paginator.count }}{% else %}{{failures|length}}{% endif %})</div>
            <div id="unknown_failures-body" class="panel-body">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Machine</th>
                            <th>Status</th>
                            <th>Run Config (age)</th>
                            <th># of covered runs since the failure</th>
                            <th>Matched issue/filter</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for failure in failures %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=failure.result.test %}</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=failure.result.ts_run.machine %}</td>
                            <td>{% include "CIResults/basic/testresult.html" with testresult=failure.result %}</td>
                            <td data-sorttable-customkey="{{failure.result.ts_run.runconfig.added_on|date:'U'}}">{% include "CIResults/basic/runconfig_lite.html" with runconfig=failure.result.ts_run.runconfig %}</td>
                            <td>{{failure.covered_runconfigs_since_for_issue}} for the issue, {{failure.covered_runconfigs_since_for_filter}} for the filter</td>
                            <td>{% include "CIResults/basic/issue.html" with issue=failure.matched_ifa.issue %} - {% include "CIResults/basic/filter.html" with filter=failure.matched_ifa.filter %}</td>
                        </tr>
                    {% empty %}
                    <tr><td colspan="6"><center>No failures found or empty query</center></td></tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if not failures|length == 0 %}{% include "CIResults/basic/paginator.html" %}{% endif %}
            </div>
        </div>

    </div>
{% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
