{% extends 'CIResults/base.html' %}

{% block title %}Machine Edit{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                Edit the machine {{machine}}
            </div>
            <div class="panel-body panel-collapse collapse in">
                <div class="container-fluid">
                    <form class="form-inline search_bar" method='post'>{% csrf_token %}
                        <table class="table table-striped table-hover table-bordered table-sm">
                        {{ form.as_table }}
                        </table>
                        <button type="submit" class="btn btn-primary mb-2">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
