{% extends 'CIResults/base.html' %}

{% block title %}Passrate Trend{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=history.filtering_model query=history.query %}

        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                Passrate trend
            </div>
            <div class="panel-body">
                <canvas id="PassrateChart" data-chart-type="trend_chart" data-chart-unit="%" data-chart-data="{{history.chart.stats}}" height="450"></canvas>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#tabular_view" class="text-info">
                    Tabular view of the passrate ({{history.runconfigs|length}} runconfigs, {{history.statuses|length}} statuses)
                </a>
            </div>
            <div id="tabular_view" class="panel-body panel-collapse collapse">
                <!-- TODO: allow editing filters -->

                <!-- TODO: Add a chart with all the statuses over time -->
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                    <tr>
                        <th>Run Config</th>
                        {% for status in history.statuses %}
                            <th>{{status}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for runconfig, statuses in history.runconfigs.items %}
                            <tr>
                                <td data-sorttable-customkey="{{runconfig.added_on|date:'U'}}">
                                    {% include "CIResults/basic/runconfig_lite.html" with runconfig=runconfig %}
                                </td>
                                {% for status, passrate in statuses.items %}
                                <td data-sorttable-customkey="{{passrate.percent}}"> {{passrate}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default panel-warning">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#most-hit-issues" class="text-warning">
                    Most-hit issues ({{history.most_hit_issues|length}})
                </a>
            </div>
            <div id="most-hit-issues" class="panel-body panel-collapse collapse">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                    <tr>
                        <th>Bug ID</th>
                        <th>Bug Status</th>
                        <th>Last Updated</th>
                        <th>Bug Summary</th>
                        <th>Hit rate</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for issue, rate in history.most_hit_issues.items %}
                         <tr>
                            <!-- Bug ID -->
                            <td>
                            <ul>
                            {% for bug in issue.bugs_cached %}
                                <li>{% include "CIResults/basic/bug.html" %}</li>
                            {% endfor %}
                            </ul>
                            </td>

                            <!-- Bug Status -->
                            <td>
                            <ul>
                            {% for bug in issue.bugs_cached %}
                                <li>{{bug.status}}</li>
                            {% endfor %}
                            </ul>
                            </td>

                            <!-- Bug Updated -->
                            <td>
                            <ul>
                            {% for bug in issue.bugs_cached %}
                                <li>{{bug.updated|timesince}} ago</li>
                            {% endfor %}
                            </ul>
                            </td>

                            <!-- Bug Summary -->
                            <td>
                            <ul id="issue_{{ forloop.counter0 }}">
                            {% for bug in issue.bugs_cached %}
                                <li>{{bug.title}}</li>
                            {% endfor %}
                            </ul>
                            </td>

                            <td>{{rate}}</td>
                        </tr>
                        {% empty %}
                            <tr><td colspan="5" style="text-align: center;">No issues hit</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% include "CIResults/basic/metrics_deps.html" %}

{% endblock %}
