{% extends 'CIResults/base.html' %}

{% block title %}Runtime Trend{% endblock %}

{% block content %}
    {% load humanize %}
    <div class="main_body container-fluid">
        {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=history.filtering_model query=history.query %}

        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                {% if history.average_per_machine %}Averaged runtime trend (average=1){% else %}Total runtime trend (average=0){% endif %}
            </div>
            <div class="panel-body">
                <canvas id="RuntimeChart" data-chart-type="trend_chart" data-chart-unit="min" data-chart-data="{{history.chart.stats}}" height="600"></canvas>
            </div>
        </div>

        <div class="panel panel-default panel-warning">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#most-hit-issues" class="text-warning">
                    Top 100 slowest tests
                </a>
            </div>
            <div id="most-hit-issues" class="panel-body panel-collapse collapse">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                    <tr>
                        <th>Test</th>
                        <th>Machine</th>
                        <th>Min (s)</th>
                        <th>Avg (s)</th>
                        <th>Max (s)</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for test_rt in history.longest_tests %}
                         <tr>
                            <td>{% include "CIResults/basic/test.html" with test=test_rt.test %}</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=test_rt.machine %}</td>
                            <td>{{test_rt.min.total_seconds}}</td>
                            <td>{{test_rt.avg.total_seconds}}</td>
                            <td>{{test_rt.max.total_seconds}}</td>
                        </tr>
                        {% empty %}
                            <tr><td colspan="5" style="text-align: center;">No test execution found</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% include "CIResults/basic/metrics_deps.html" %}

{% endblock %}
