{% extends 'CIResults/base.html' %}

{% block title %}Open Bugs{% endblock %}

{% block content %}
    {% load humanize %}
    <div class="main_body container-fluid">
        {% include "CIResults/basic/user_filtering_searchbox.html" %}

        <div class="panel panel-default panel-danger">
            {% include "CIResults/basic/open_bugs_table.html" with bugs=bugs_overdue table_title="Overdue Bugs" table_id="bugs_overdue" %}
        </div>

        <div class="panel panel-default panel-warning">
            {% include "CIResults/basic/open_bugs_table.html" with bugs=bugs_close_to_deadline table_title="Deadlining Bugs" table_id="bugs_close_to_deadline" %}
        </div>

        <div class="panel panel-default">
            {% include "CIResults/basic/open_bugs_table.html" with bugs=bugs_other table_title="Upcoming Bugs" table_id="bugs_other" %}
        </div>

        {% if not public %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#statistics">
                    Developer statistics (last 30 days)
                </a>
            </div>
            <div id="statistics" class="panel-body panel-collapse collapse in">
                <table class="table table-condensed table-striped table-hover table-bordered table-sm sortable break-word">
                    <thead>
                        <tr>
                            <th>Developer</th>
                            <th>Bugs created</th>
                            <th>Bugs assigned</th>
                            <th>Bugs Involved</th>
                            <th># comments</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dev, stats in developers.items %}
                        <tr id="dev_stats_{{ forloop.counter0 }}">
                            <td>{% include "CIResults/basic/account.html" with account=dev %}</td>
                            <td><a data-inform="<p>Bugs created by {{dev}}:</p><ul>{% for bug in stats.bugs_created %}<li><a href='{{bug.url}}'>{{bug.short_name}} - {{bug.title}}</a></li>{% empty %}<li>No bugs created</li>{% endfor %}</ul>" href="">{{stats.bugs_created|length}}</a></td>
                            <td><a data-inform="<p>Bugs assigned to {{dev}}:</p><ul>{% for bug in stats.bugs_assigned %}<li><a href='{{bug.url}}'>{{bug.short_name}} - {{bug.title}}</a></li>{% empty %}<li>No bugs created</li>{% endfor %}</ul>" href="">{{stats.bugs_assigned|length}}</a></td>
                            <td data-sorttable-customkey="{{stats.bugs_involved|length}}"><a data-inform="<p>Bugs {{dev}} is involved in:</p><ul>{% for bug in stats.bugs_involved %}<li><a href='{{bug.url}}' {% if not bug.is_open %}class='bug_closed'{% endif %}>{{bug.short_name}} - {{bug.title}}</a></li>{% empty %}<li>No bugs created</li>{% endfor %}</ul>" href="">{{stats.bugs_involved|length}} ({{stats.bugs_still_open|length}} open, {{stats.bugs_closed|length}} closed)</a></td>
                            <td>{{stats.all_comments|length}}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="5" style="text-align: center;">No developer found</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
